@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rencata Employee App</h1>
    <p class="lead">A Demo Application to demonstrate Employee Registration.Developed from ASP.NET MVC and Sql Server.</p>
</div>

